//-------------------------
//-------------  ARTICLE PAGES article content
//-------------------------

.article-main-content {

  padding: 0 16.8rem;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;

  p {
    font-weight: lighter;
    font-family: $baseFont;
    color: $dimgray;
    line-height: 2.2;
    font-size: 1.8rem;
  }

  figure {
    margin: 4rem auto 3rem auto;
    padding: 0 16.6rem;

    figcaption {
      font-family: $cormorant;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.6;
      padding-left: 0.2rem;
      text-align: left;
    }
  }

}
