//-------------------------
//-------------  ARTICLE PAGES article content for all pages
//-------------------------

.article-main-content {

  padding: 0 16.8rem;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;

  @include breakpoint (tablet) {
    padding: 0 10.5rem;
    margin-top: 2.46rem;
  }

  p {
    font-weight: lighter;
    font-family: $baseFont;
    color: $dimgray;
    line-height: 2.2;
    font-size: 1.8rem;

    @include breakpoint (tablet) {
      font-size: 2.7rem;
      letter-spacing: -0.03rem;
      line-height: 2.4;
    }
    @include breakpoint (phone) {
      line-height: 2.15;
      font-size: 3.35rem;
    }
  }

  figure {
    margin: 4rem auto 3rem auto;
    padding: 0 16.6rem;

    @include breakpoint (toDesktop) {
      padding: 0;
    }
    @include breakpoint (toDesktop) {
      margin: 4rem auto 4rem auto;

    }

    figcaption {
      font-family: $cormorant;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.6;
      padding-left: 0.2rem;
      text-align: left;
      @include breakpoint (tablet) {
        font-size: 2.65rem;
        line-height: 1.5;
        padding-left: 0rem;
        margin-top: 2.8rem;
      }


    }
  }

}
