//-------------------------
//-------------  ARTICLE PAGES page main image for all pages
//-------------------------

.article-main-img {
    @extend .clearfix;
  float: right;
  margin-top: 2.2rem;
  padding-left: 1rem;
  position: relative;
}
