//-------------------------
//-------------  ARTICLE PAGES article video for all pages
//-------------------------

.article-video{
  width:68%;
  margin:4rem auto 0 auto;
  text-align: center;
  position:relative;
  padding-bottom:34%;
  padding-top:30px; //To avoid issues with the broken box model (IE5 or IE6 in quirks mode), we use padding-top rather than height to create room for the chrome.
  height:0;
  overflow:hidden;
  border-style: solid;
  border-width: 1.1rem;
  @include breakpoint (tablet) {
    width: 100%;
    margin: 5.5rem auto 0 auto;
    padding-bottom: 50%;
  }

  iframe,
  object,
  embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
