//-------------------------
//-------------  ARTICLE PAGES article footer for all pages
//-------------------------

.article-footer {
  padding: 0 16.8rem;
  margin-top: 7.9rem;
  @include breakpoint (tablet) {
    padding: 0 9.8rem;
    margin-top: 10.2rem;
  }
  @include breakpoint (phone) {
  padding: 0 8em;
margin-top: 12.5rem;
}

}
