//-------------------------
//-------------  ARTICLE PAGES article publish date
//-------------------------

.article-publish {
font-weight: 800;
font-family: $cormorant	;
color:$greyoson;
font-size: 2rem;
display: block;
margin-top: 3.1rem;
}
