//-------------------------
//-------------  ARTICLE PAGES page main image for all pages
//-------------------------

.article-main-img {
    @extend .clearfix;
  float: right;
  margin-top: -2rem;
  padding-left: 4rem;
  position: relative;
  &:after {
    clear: both;
    display: block;
    height: 100%;
  }
}
