//-------------------------
//-------------  ARTICLE PAGES article intro
//-------------------------

.article-intro {
  font-weight: 600;
  font-family: $baseFont;
  position: relative;
  font-size: 2rem;
  line-height: 2;
}
