//-------------------------
//-------------  ARTICLE PAGES article publish date for all pages
//-------------------------

.article-publish {
  font-weight: 800;
  font-family: $cormorant	;
  color:$greyoson;
  font-size: 2rem;
  display: block;
  margin-top: 3.1rem;

  @include breakpoint (tablet) {
    font-size: 2.7rem;
    margin-top: 3.65rem;
  }
  @include breakpoint (phone) {
  font-size: 3.12rem;
letter-spacing: -0.04rem;
}

}
