//-------------------------
//-------------  ARTICLE PAGES article content for all pages
//-------------------------

.article-main-content {
  margin-top: 2.3rem;
  // @include inline-padding-start(16.8rem);
  //   @include inline-padding-end(16.8rem);
  // padding: 0 16.8rem;
  // margin-top: 4.5rem;
  // margin-bottom: 3.5rem;

  @include breakpoint (tablet) {
    margin-top:2.5rem;
    // @include inline-padding-start(10.5rem);
    // padding: 0 10.5rem;
    // margin-top: 2.46rem;
  }

  p {
    font-weight: lighter;
    font-family: $baseFont;
    color: $dimgray;
    line-height: 2.2;
    font-size: 1.8rem;

    @include breakpoint (tablet) {
      font-size: 2.7rem;
      letter-spacing: -0.03rem;
      line-height: 2.4;
    }
    @include breakpoint (phone) {
      line-height: 2.15;
      font-size: 3.35rem;
    }
  }

  figure {
    margin: 4rem auto 3rem auto;
    @include inline-padding-start(33.3rem);
      @include inline-padding-end(33.3rem);

    @include breakpoint (tablet) {
      margin: 4rem auto 5rem auto;
      @include inline-padding-start(10.4rem);
        @include inline-padding-end(10.4rem);
        width: 108%;

    }
    @include breakpoint (phone) {
      margin:2.9rem auto 6rem auto;
      @include inline-padding-start(0);
        @include inline-padding-end(0);

  }

    figcaption {
      font-family: $cormorant;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.6;
      padding-left: 0.2rem;
      text-align: left;
      @include breakpoint (tablet) {
        font-size: 2.65rem;
        line-height: 1.5;
        padding-left: 0rem;
        margin-top: 2.8rem;
      }
      @include breakpoint (phone) {
        font-size: 2.8rem;
        line-height: 1.45;
        @include inline-padding-start(8rem);
         @include inline-padding-end(8rem);
        margin-top: 2.3rem;
      }


    }
  }

  p,h3 {
    @include inline-padding-start(16.8rem);
      @include inline-padding-end(16.8rem);

    @include breakpoint (tablet) {
    @include inline-padding-start(10.5rem);
      @include inline-padding-end(16.8rem);
  }


    @include breakpoint (phone) {

       @include inline-padding-start(8rem);
        @include inline-padding-end(7rem);

    }
  }

}
