//-------------------------
//-------------  ARTICLE PAGES  H3 tag (subtitle) for all pages
//-------------------------

h3 {
  font-weight: 800;
  font-family: $baseFont;
  position: relative;
  font-size: 3rem;
  margin-bottom: 2.4rem;

  @include  breakpoint (tablet) {
    font-size: 4rem;
    margin-bottom: 3.2rem;

  }
  @include  breakpoint (phone) {
  font-size: 4.3rem;
margin-bottom: 3.1rem;
letter-spacing: -0.05rem;
}

}
