//-------------------------
//-------------  ARTICLE PAGES tag logo
//-------------------------


.c-taglogo {
  width: 8.333%;
  padding-left: 2.2rem;
padding-top: 4.2rem;
  margin-bottom: 1.3rem;
}
