//-------------------------
//-------------  ARTICLE PAGES tag logo for all pages
//-------------------------


.c-taglogo {
  width: 12.555%;
  margin-top: 4rem;
  margin-bottom: 1.3rem;
    @include inline-padding-start(8.3rem);

@include breakpoint (tablet) {
  width: 22%;
  margin-top: 0;
  margin-bottom: 0;
    @include inline-padding-start(10.2rem);
  top: -3rem;
  position: relative;
}
@include breakpoint (phone) {
width: 29%;
margin-top: 0;
margin-bottom: 0;
  @include inline-padding-start(7.8rem);
top: -3.6rem;
position: relative;
}


}
