//-------------------------
//-------------  ARTICLE PAGES tag logo for all pages
//-------------------------


.c-taglogo {
  width: 12.555%;
  margin-top: 4rem;
  margin-bottom: 1.3rem;
  padding-inline-start: 8.3rem;

@include breakpoint (tablet) {
  width: 16%;
padding-left: 2.9rem;
padding-top: 6.5rem;
margin-bottom: 1.02rem;
}
@include breakpoint (phone) {
width: 29%;
margin-top: 0;
margin-bottom: 0;
padding-inline-start: 7.8rem;
top: -3.6rem;
position: relative;
}


}
