//-------------------------
//-------------------ARTICLE SMALL content
//-------------------------


&__content {
	position: relative;
	margin: 1rem 0;
	padding: 0 2.8rem;

	@include breakpoint (tablet) {
		padding:0 2.2rem;
	}

	@include breakpoint (phone) {
	  padding: 0 1.3rem;
	}
}
