//-------------------------
//-------------------BLOCK ARTICLES
//-------------------------

.b-articles  {
	position: relative;
	display:flex;

	align-items:flex-start;
	align-content:flex-start;
	justify-content: space-between;
	flex-wrap: wrap;

	padding-top: 2.6rem;
	margin-bottom: 13rem;

	@include breakpoint (toDesktop) {
		padding-top: 0;
	}

	@include breakpoint (tablet) {
		margin-bottom: 2rem;
	}

	.b-title {
		position: absolute;
		width: 50%;
		text-align: center;
		right: 0;
		top: 0;


		@include breakpoint (tablet) {
			// margin-top: -5.5rem;
			// margin-bottom: 3.9rem;
		}
		@include breakpoint (phone) {
			// margin-bottom: 5rem;
			// margin-top:-5rem;
		}

		&__full {
			@include breakpoint (tablet) {
				font-size: 9.8rem;
			}
			@include breakpoint (phone) {
				font-size: 5.2rem;
			}
		}

		&__normal {
			@include breakpoint (tablet) {
				font-size: 8rem;
			}
			@include breakpoint (phone) {
				font-size: 5.2rem;
			}
		}

	}

	.article-small {
		display: inline;
		float: left;
		width:48.6600%;

		margin-bottom: -13.3rem;
		&:nth-child(2n+1) {
			margin-top: 13.3rem;
			@include breakpoint (phone) {
				margin-top: 11.4rem;
				margin-bottom: -8rem;
			}

		}
		&:after {
			content: "";
			display: block;
			margin: 6rem auto;

			@include breakpoint (tablet) {
				margin: 8rem auto;
			}
		}
		.c-taglogo {
			width: 29.777%;
			top: 60%;
			transform: translateY(-60%);

			@include breakpoint (phone) {
				width: 43%;
			}
		}
		.article-title {
			letter-spacing: -0.13rem;
			font-weight: 800;
			margin-top: -1.3rem;
			margin-bottom: 1.2rem;
			@include breakpoint (tablet) {
				font-size: 4rem;
				line-height: 1.1;
				margin-top: -1.5rem;
				margin-bottom: 0.5rem;
			}
			@include breakpoint (phone) {
				letter-spacing: -0.13rem;
				font-weight: 800;
				margin-top: -0.4rem;
				margin-bottom: 1.2rem;
				font-size: 4.25rem;
				line-height: 1.18;
			}
		}
		.article-intro {
			font-size: 1.27rem;
			line-height: 1.6;
			display: block;
			@include breakpoint (tablet) {
				font-size: 2.67rem;
				line-height: 1.4;
			}
			@include breakpoint (phone) {
				display: none;
			}
		}
	}
	.c-btn--wrapper {
		margin-left: 2.3rem;
		margin-top: 1.3rem;
		width: 39.33%;
		clear: none;
		float: left;
		@include breakpoint (tablet) {
			width:43.2%;
		}

		@include breakpoint (phone) {
			margin-left: auto;
			margin-right: auto;
			margin-top: 8rem;
			width: 74%;
		}
	}

	//page tag
	@import "page-tag",
	"page-search-results";
}
