//-------------------------
//-------------------BLOCK ARTICLES on page search results
//-------------------------


	&.page-search-results {
		// margin-left: -0.9375rem;
    // margin-right: -0.9375rem;
		padding: 0 16.88rem; ///desk
		display: flex;


		-webkit-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-justify-content: flex-start;
justify-content: flex-start;
-webkit-align-items: stretch;
align-items: stretch;
-webkit-align-content: stretch;
align-content: stretch;


		.article-small {
			// display: block;
	    // padding-left: 0.9375rem;
	    // padding-right: 0.9375rem;
	    width: 33.299%;
			display: inline-block;
		background: white;


-webkit-order: 0;
order: 0;
-webkit-flex-grow: 0;
flex-grow: 0;
-webkit-flex-shrink: 1;
flex-shrink: 1;
-webkit-flex-basis: auto;
flex-basis: auto;
-webkit-align-self: flex-start;
align-self:flex-start;




			&:nth-child(2n) {
				float: left;
				background-color: red;
			}
			&:nth-child(2n+1) {
				float: left;
					background-color: gold;
			}

			&:nth-child(2) {
				background-color: green;
				-webkit-align-self: flex-end;
				align-self:flex-end;
				margin-top: 13rem;
	@include breakpoint (tablet) {
				margin-top: 14.3rem;
			}

						@include breakpoint (phone) {
							margin-top: 11rem;
						}
			}
		}

	}
