///------------------------------------
//    #SETTINGS paths
//------------------------------------

// Globaly path settings


$fontBaseUrl   : "http://static1.webedia.fr/fonts/";
$localFontBase : "../_common/fonts";
$imgBaseUrl    : "../_common/images";
