//-------------------------
//----------------WRAPPERS
//-------------------------


// .maxWidth,
.main-content {
	@extend .clearfix;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	@include breakpoint (toDesktop) {
		max-width: none;
	}
}

.three-col {

padding: 0 16.7rem;
}

.two-col {
	float: left;
	padding-left: 14.4rem;
	width: 55.111%;
margin-top: 5rem;
	 @extend .clearfix;

	@include breakpoint (toDesktop) {
		width: 100%;
		float: none;
		margin-top: 0;


	}
	@include breakpoint (tablet) {
		padding: 0 10.2rem;
		margin-bottom: 7.2rem;
	}

	@include breakpoint (phone) {
		padding: 0 7.80rem;
		margin-bottom: 10rem;
	}
}

.one-col {
	padding-right: 14.3rem;
	width: 44.666%;
float: right;
padding-left: 1.7rem;
margin-top: 2rem;
@include breakpoint (tablet) {
	padding: 0 10.5rem;
	width: 100%;
	float: none;
}


@include breakpoint (phone) {
	padding: 0;
	width: 100%;
	float: none;
}

}

.full-col {
	 clear: both;
 //  margin-left: auto;
 // margin-right: auto;
 padding: 0 6rem;

 @include breakpoint (toDesktop) {
	 padding: 0;
 }
 &.tab-pad {
	 @include breakpoint (tablet) {
		 padding: 0 10.5rem;
	 }
 }
 &.all-pad {
	  padding: 0 6rem;
	@include breakpoint (tablet) {
		padding: 0 10.5rem;
	}
	@include breakpoint (phone) {
			padding: 0 6.5rem;
	}
 }
}
