//-------------------------
//-------------------COMPONENT TAGS list
//-------------------------


&__item {
	font-weight: 800;
	display: inline-block;
	color: $black;
	overflow: hidden;
	position: relative;

	font-size: 1.5rem;
	padding: 0 0.9rem;
	margin-right: 2rem;

		@include breakpoint (tablet) {
			font-size: 2rem;
			margin-right: 4rem;
		}

		@include breakpoint (phone) {
		font-size: 2.35rem;
margin-right: 7.5rem;
}

	&--link {
		display: inline-block;
		position: relative;
		padding-bottom: 1rem;
		z-index: 1;
	}

	&:after {
		content: '';
		position: absolute;
		display: inline-block;
		width: 100%;
		left: 0;
		bottom: 0;
		border-style: solid;
		border-width: 0.9rem;
	}
}
