//-------------------------
//-------------------BLOCK SEARCH
//-------------------------

.b-search {
	font-family:$fontFontello ;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0vh;
	display: block;
	z-index: -1;
	opacity: 0;
	position: fixed;
	@include transition(0.3s all ease-in);
	@include breakpoint (toDesktop){
		position: absolute;
		top: 19rem;
		height: auto;
		display: block;
		opacity: 1;
		z-index: 1;
		left: 20%;
		right: 20%;
		text-align: center;
		font-size: 2.8rem;
		border-bottom: 1px solid $lightGray;
		padding-bottom: 1rem;
	}
	@include breakpoint (phone){
		left: 18%;
		right: 18%;
	}
	form{
		@include breakpoint (toDesktop){
			text-align: left;
		    padding-left: 2.5rem;
		}
		@include breakpoint (phone){
			padding-left: 1rem;
		}
	}
	input{
		@include breakpoint (toDesktop){
			outline: none;
			color: $lightGray;
			font-family: $baseFont;
			font-weight: bolder;
			text-transform: uppercase;
			letter-spacing: -1px;
			border: 0;
		}
	}
	@include breakpoint (toDesktop){
		*::-webkit-input-placeholder {color: $lightGray; text-transform: uppercase;font-family: $baseFont;font-weight: bolder;letter-spacing: -1px;}
		*:-moz-placeholder {color: $lightGray; text-transform: uppercase; opacity:  1;font-family: $baseFont;font-weight: bolder;letter-spacing: -1px;}
		*::-moz-placeholder {color: $lightGray; text-transform: uppercase; opacity:  1;font-family: $baseFont;font-weight: bolder;letter-spacing: -1px;}
		*:-ms-input-placeholder {color: $lightGray; text-transform: uppercase;font-family: $baseFont;font-weight: bolder;letter-spacing: -1px;}
	}
	&.open{
		z-index: 10;
		opacity: 1;
		height: 100vh;
		.icon-search{
			display: none;
		}
		.mask{
			display: block;
		}
		form{
			z-index: 1;
			position: absolute;
			top: 40%;
			left: 25%;
			right: 25%;
			font-size: 5rem;
			input{
				background: none;
				border: 0;
				color: $white;
				outline: none;
				padding-left: 2.5rem;
			}
			*::-webkit-input-placeholder {color: $white;	padding-left: 2.5rem;}
			*:-moz-placeholder {color: $white;opacity:  1;	padding-left: 2.5rem;}
			*::-moz-placeholder {color: $white;opacity:  1;	padding-left: 2.5rem;}
			*:-ms-input-placeholder {color: $white;	padding-left: 2.5rem;}
		}
	}
	.closePopup{
		position: absolute;
		top: 20%;
		right: 30%;
		cursor: pointer;
		@include breakpoint (toDesktop){
			display: none;
		}
	}
	.mask{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $black;
		opacity: 0.8;
	}
}
