//-------------------------
//-------------PRODUCT SLIDER
//-------------------------

.b-productShow {
	width: 100%;
	padding: 4rem 0 3rem 0;
	margin-bottom: 8rem;
	@include breakpoint(tablet) {
		padding-bottom: 4rem;
	}
	.productSlider {
		position: relative;
		width: 80%;
		margin: 0 auto;
		@include breakpoint(tablet) {
			width: 100%;
			height: auto;
			margin: 0 0 0 16%;
		}
		@include breakpoint(phone) {
			width: 95%;
			margin: 0 0 0 5%;
		}
		.sliderContainer {
			width: 87%;
			margin: 0 auto;
			text-align: center;
			@include breakpoint(tablet) {
				width: 95%;
			}
			@include breakpoint(phone) {
				width: 125%;
				margin: 0 0 0 5%;
			}
		}
		&__logo {
			margin: 0.2rem 0 1rem -2rem;
			@include breakpoint(tablet) {
				width: 40%;
				margin: 2.2rem 0 3rem -6rem;
			}
			@include breakpoint(phone) {
				width: 55%;
				margin-bottom: 3rem;
				margin-left: 2rem;
			}
		}
	}
	.slideBloc {
		display: inline-block;
		margin: 0 1rem;
		@include breakpoint(tablet) {
			margin: 0 2rem;
		}
		.imgWrapper {
			padding: 0.6rem;
			border: 2px solid white;
		}
		&__title {
			margin-top: 1.5rem;
			font-size: 2.4rem;
		    font-weight: 500;
			text-align: left;
			@include breakpoint(tablet) {
				font-size: 3.4rem;
			}
			@include breakpoint(phone) {
				margin-top: 2.5rem;
				font-size: 3.4rem;
			}
		}
	}
	&.tag{
		@for $i from 1 to $tagLength {
			$currentTag: nth($tagArray, $i);
			&--#{$currentTag} {
				background-color: colorFunc(tag, $currentTag);
			}
		}
	}
	.sliderArrow {
		position: absolute;
		top: 16rem;
		cursor: pointer;
		&.prev,&.next {
			@include breakpoint(tablet) {
				display: none!important;
			}
			@include breakpoint(phone) {
				display: none!important;
			}
		}

		&.prev {
			left: 0rem;
		}
		&.next {
			right: 0rem;
		}
		svg {
			width: 4.5rem;
			fill: $white;
		}
	}
	.slick-list.draggable {
		padding: 0!important;
		text-align: center;
		.slick-track {
			display: inline-block;
			text-align: center;
		}
	}
	.helpMobileSwipe {
		width: 200%;
	}
}
