//-------------------------
//-------------------COMPONENT BLOCKQUOTE
//-------------------------


.c-blockquote {
	@extend .clearfix;
	font-family: $cormorant	;
	margin: 6.2rem 0 2.8rem 0;
	 @include inline-padding-start(58.7rem);
	 	 @include inline-padding-end(17rem);


	@include breakpoint (tablet) {
		margin: 7.4rem 0 2.5rem 0;
		@include inline-padding-start(40.2rem);
 	 	 @include inline-padding-end(9rem);
	}
	@include breakpoint (phone) {
		margin: 7.4rem 0 5.2rem 0;
		@include inline-padding-start(21.6rem);
 	 	 @include inline-padding-end(9rem);
}


	@import "icon",
	"text";
}
