//-------------------------
//-------------------COMPONENT BLOCKQUOTE
//-------------------------


.c-blockquote {
	@extend .clearfix;
	font-family: $cormorant	;
	margin: 6rem 0 2.8rem 0;

	@include breakpoint (tablet) {
		margin: 7.5rem 0 2.8rem 0;
	}



	@import "icon",
	"text";
}
