//-------------------------
//-------------------COMPONENT BLOCKQUOTE
//-------------------------


&__icon {
	font-family: $fontFontello;
	display: block;
width: 76%;
	float: right;
	font-size: 2.99rem;
	position: relative;
	text-align: center;
	  &:before {
			width: 30.222%;
			content: "";
			position: absolute;
			left: 9.9rem;
			top: 50%;
		}

}
