//-------------------------
//-------------------COMPONENT BLOCKQUOTE
//-------------------------


&__icon {
	font-family: $fontFontello;
	display: block;
	width: 100%;
	font-size:3rem;
	position: relative;
	text-align: center;
	padding-right: 19rem;
	@include breakpoint (tablet) {
		font-size: 5rem;
		padding-right: 20rem;
	}

	@include breakpoint (phone) {
		font-size: 6.5rem;
		padding-right: 21rem;
	}

	&:before {
		width: 40%;
		content: "";
		position: absolute;
		left: -8.4rem;
		top: 50%;
		@include breakpoint (tablet) {
			width: 44%;
			left: -14.5rem;
		}
		@include breakpoint (phone) {
			width: 45.66%;
			left: -13.7rem;
		}
	}
}
