//-------------------------
//-------------------COMPONENT BLOCKQUOTE
//-------------------------


&__icon {
	font-family: $fontFontello;
	display: block;
width: 76%;
	float: right;
	font-size: 2.99rem;
	position: relative;
	text-align: center;

}
