//-------------------------
//-------------  ARTICLE PAGES page LANDSCAPE  article intro
//-------------------------

.article-intro{

  // margin-top: 5.8rem;
  padding-inline-start: 16.8rem;
  padding-inline-end: 16rem;
  clear: both;

  @include breakpoint (tablet) {

    padding-top: 0;
    padding-inline-start: 3rem;
    padding-inline-end: 9rem;
    clear: none;
    margin-top: -4rem;
  }

  @include breakpoint (phone) {

    padding-top: 0;
    padding-inline-start: 8rem;
    padding-inline-end: 9rem;
    clear: none;
    margin-top: 0;
    font-size: 3.58rem;
    line-height: 1.85;
  }


}
