//-------------------------
//-------------  ARTICLE PAGES page LANDSCAPE  article title
//-------------------------

.article-title {

  width: 100%;
  line-height: 1.13;
  float: left;
  width: 100%;
padding-inline-end: 50%;

@include breakpoint (tablet) {
padding-inline-end: 0;
float: none;
max-width: none;
margin-top: -1.9rem;
line-height: 1.2;
margin-bottom: 8.5rem;
}

@include breakpoint (phone) {
padding-left: 2.8rem;
margin-inline-start: 5.2rem;
padding-inline-end: 8rem;
font-size: 6rem;
line-height: 1.25;
margin-top: -1.7rem;
margin-bottom: 6.3rem;
}

&:before {
  @include breakpoint (phone) {
    top: 2rem;
    height: 66%;
  }
}

}
