//-------------------------
//-------------  404 PAGE
//-------------------------

.errorPage {
	position: relative;
	width: 100%;
	padding: 25rem 0;
	background-image: url(#{$imgBaseUrl}/erreur404.png);
	background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    text-align: center;
    z-index: 5;
    @include breakpoint(tablet) {
    	padding: 30rem 0;
    	background-size: 83%;
    }
    @include breakpoint(phone) {
    	// top: 15rem;
    	padding: 17rem 0;
    	background-size: 85%;
    }
    .errorBtn {
    	display: inline-block;
    	width: 22rem;
    	position: relative;
    	top: 17rem;
    	left: -11px;
    	font-size: 1.8rem;
    	border: 2px solid $black;
    	@include breakpoint(tablet) {
    		width: 35rem;
    		top: 24rem;
    		left: -10px;
    		font-size: 2.5rem;
    		border: 0.4rem solid black;
    	}
    	@include breakpoint(phone) {
    		padding: 1.8rem 1rem;
    	}
    }
}

