//-------------------------
//-------------  ARTICLE PAGES default
//-------------------------

.article {
  position: relative;



  @import "common/taglogo.scss",
  "common/article-title.scss",
  "common/article-publish.scss",
  "common/article-intro.scss",
  "common/article-main-content.scss",


  "portrait/article-main-img",
  "portrait/subtitle";

  //colors
  @for $i from 1 to $tagLength {
    $currentTag: nth($tagArray, $i);
    &.#{$currentTag} {
      .article-title {
        &:before {
          content: "";
          border-width:0 0 0 0.4rem;
          border-style: solid;
          border-color: transparent transparent transparent colorFunc(tag, $currentTag);
          height: 88.800%;
          position: absolute;
          left: -0.05rem;
          top: 0.9rem;
          bottom: 0;
        }
      }
      .article-main-content {
        a {
          background-color: colorFunc(tag, $currentTag);
          font-weight: 600;
          color: $black;
          padding: 0rem 0.6rem;
        }
      }
      .c-blockquote__icon {
        color: colorFunc(tag, $currentTag);
        &:before {
          border: solid 0.3rem colorFunc(tag, $currentTag);
          width: 30.222%;
          content: "";
          position: absolute;
          left: 9.9rem;
          top: 50%;

        }
      }
    }
  }
}
