//-------------------------
//-------------  ARTICLE PAGES default
//-------------------------

.article {
  position: relative;
  margin-bottom: 7.8rem;

  @include breakpoint (tablet) {
    margin-bottom: 11rem;
  }

  @include breakpoint (phone) {
    margin-bottom: 12rem;
  }


  @import
  "common/article-main-img",
  "common/taglogo",
  "common/article-header",
  "common/article-title",
  "common/article-subtitle",
  "common/article-publish",
  "common/article-intro",
  "common/article-main-content",
  "common/article-video",
  "common/single-image",
  "common/article-footer";

  //portrait
  &--portrait {
    @import
    "portrait/article-main-img",
    "portrait/article-intro",
    "portrait/b-author",
      "portrait/taglogo",
    "portrait/single-image";
  }

  &--landscape {
    @import
    "landscape/article-main-img",
    "landscape/article-intro",
    "landscape/b-author",
    "landscape/article-title",
    "landscape/article-main-content",
    "landscape/taglogo",
    "landscape/article-publish";
  }

  &--recipes {
    @import
    "recipes/article-main-img",
    "recipes/article-intro",
    "recipes/b-author",
    "recipes/article-title",
    "recipes/article-subtitle",
    "recipes/article-main-content",
    "recipes/taglogo",
    "recipes/article-publish";
  }



  //colors

  @for $i from 1 to $tagLength {
    $currentTag: nth($tagArray, $i);
    &.#{$currentTag} {
      .article-title {
        &:before {
          content: "";
          border-width:0 0 0 0.4rem;
          border-style: solid;
          border-color: transparent transparent transparent colorFunc(tag, $currentTag);
            @include breakpoint (phone) {
                border-width:0 0 0 0.5rem;
            }
        }
      }
      .article-main-content {
        a {
          background-color: colorFunc(tag, $currentTag);
          font-weight: 600;
          color: $black;
          padding: 0rem 0.6rem;
        }
      }
      .c-blockquote__icon {
        color: colorFunc(tag, $currentTag);
        &:before {
          border-width:0.3rem;
          border-style: solid;
          border-color: colorFunc(tag, $currentTag);
          @include breakpoint (phone) {
              border-width: 0.4rem;
          }
        }
      }
      .c-tags__item:after,
      .article-video {
        border-color:colorFunc(tag, $currentTag);
      }
      &.article--recipes {
        h3 {
          color: colorFunc(tag, $currentTag);
        }
      }
    }
  }
}
