//-------------------------
//-------------  ARTICLE PAGES page PORTRAIT main image
//-------------------------

.article-main-img {
  width: 45.900%;

  @include breakpoint (tablet) {
  width: 64.555%;
  margin-top: 2.4rem;
}

}
