//-------------------------
//-------------  ARTICLE PAGES page PORTRAIT article intro
//-------------------------

.article-intro{
  clear: none;
  padding-top: 3.8rem;
  max-width: 68%;
  @include inline-padding-start(8rem);

  @include breakpoint (tablet) {
    padding-top: 0;
    clear: both;
    max-width: none;
      @include inline-padding-start(10.2rem);
        @include inline-padding-end(11rem);
  }
    @include breakpoint (phone) {
      padding-top: 0;
      max-width: none;

    }
}
