//-------------------------
//-------------  ARTICLE PAGES page PORTRAIT H3 tag (subtitle)
//-------------------------

h3 {
  font-weight: 800;
  font-family: $baseFont;
  position: relative;
  font-size: 3rem;
  margin-bottom: 2.4rem;
}
