//-------------------------
//-------------  ARTICLE PAGES page LANDSCAPE tag logo
//-------------------------


.c-taglogo {

  @include breakpoint (tablet) {


    margin-bottom: 2.5rem;

    top: auto;
    padding-top: 6.5rem;

  }
@include breakpoint (phone) {
  top: -14rem;
}
}
