//-------------------------
//-------------------BLOCK PUSH
//-------------------------

.b-push {


	@extend .clearfix;
	position: relative;
	//margin-bottom: 7.6rem;
	margin-left: auto;
	margin-right: auto;

	@include breakpoint (tablet) {
		padding: 0;
		border: solid 5px $white;
		margin-bottom: 11.9rem;
	}

	@include breakpoint (phone) {
		padding: 0;
		border: solid 5px $white;
		margin-bottom: 10rem;
	}

	@import "content",
	"image",
	"logo";
}
