// //-------------------------
// //-------------------BLOCK TEASER blog article author
// //-------------------------

.article-author {
  font-family: $helnuheavy;
  text-transform: uppercase;
  font-size: 2.71rem;
  line-height: normal;
  @include breakpoint (tablet) {
    font-size: 3.75rem;
    letter-spacing: -0.08rem;
  }
  @include breakpoint (phone) {
font-size: 3.85rem;
  }
}
