// //-------------------------
// //-------------------BLOCK TEASER blog article-content
// //-------------------------

.article-content {
  bottom: 0;
  height: 100%;
  left: -1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  display: table;
  vertical-align: middle;
  z-index: 1;

  @include breakpoint (tablet) {
    vertical-align: top;
  }
  @include breakpoint (phone) {
  vertical-align: top;
  left: 0.2rem;
  }
  &-wrapper {

    position: relative;
    padding: 0 0 1.3rem 0;
    width: 100%;
    display: table-cell;
    vertical-align: middle;


    @include breakpoint (tablet) {
    vertical-align: top;
    padding: 2.4rem 0 1.3rem 0;

    }

    @include breakpoint (phone) {
      vertical-align: top;
      padding: 2.4rem 0 1.3rem 0;

    }

  }

}
