// //-------------------------
// //-------------------BLOCK TEASER blog
// //-------------------------

&--small {
  text-align: center;
  @extend .clearfix;
  position: relative;
  float: left;
  height: 0;
  padding-bottom: 12.4%;
  overflow: hidden;
  @include breakpoint (tablet) {
  padding-bottom: 21.22%;
  }

  @include breakpoint (phone) {
    padding-bottom: 0;
    height: 197px;
  }
  @for $i from 1 to $tagLength {
    $currentTag: nth($tagArray, $i);
    &.#{$currentTag} {
      .article-author-quote,
      .article-author {
        color: colorFunc(tag, $currentTag);
      }
    }
  }
  @import "image",
          "article-content",
          "article-author",
          "article-author-quote";
}
