// //-------------------------
// //-------------------BLOCK TEASER blog
// //-------------------------

&--small {
  @extend .clearfix;
  text-align: center;
  float: left;
  position: relative;
  margin-bottom: 5rem;
  height: 0;
  overflow: hidden;
  padding-bottom: 20.7%;
  width: 21.6666%;
  display: inline-block;
  @include breakpoint (tablet) {
    padding-bottom: 25.444%;
    width: 40%;
  }

  @include breakpoint (phone) {
    padding-bottom: 37%;
    width: 40%;
  }
  @for $i from 1 to $tagLength {
    $currentTag: nth($tagArray, $i);
    &.#{$currentTag} {
      .article-author-quote,
      .article-author {
        color: colorFunc(tag, $currentTag);
      }
    }
  }
  @import "image",
          "article-content",
          "article-author",
          "article-author-quote";
}
