// //-------------------------
// //-------------------BLOCK TEASER blog
// //-------------------------

&--small {
  @extend .clearfix;
  text-align: center;
float: left;
position: relative;
height: 0;
overflow: hidden;
padding-bottom: 15%;
width: 28%;
display: inline-block;
  @include inline-margin-start(5rem);
  margin-bottom: 11rem;




  @include breakpoint (tablet) {
    padding-bottom: 21.333%;
    width: 36%;
    top: -2rem;
    margin-bottom: 0;
  }

  @include breakpoint (phone) {
    padding-bottom: 33%;
    width: 41%;
    margin-bottom: 1rem;
  }
  @for $i from 1 to $tagLength {
    $currentTag: nth($tagArray, $i);
    &.#{$currentTag} {
      .article-author-quote,
      .article-author {
        color: colorFunc(tag, $currentTag);
      }
    }
  }
  @import "image",
          "article-content",
          "article-author",
          "article-author-quote";

}
