// //-------------------------
// //-------------------BLOCK TEASER blog img
// //-------------------------

img {
  max-width: none;
  width: 34%;
  z-index: 2;
  position: absolute;
  bottom: -2.2rem;
  left: 22%;
  transform: translateX(-22%);

  @include breakpoint (tablet){
bottom: -2.1rem;
width: 43%;
left: 53%;
  transform: translateX(-53%);
  }
  @include breakpoint (phone){
    bottom: 0;
    width: 49%;
    left: 36%;
      transform: translateX(-36);
  }
}
