// //-------------------------
// //-------------------BLOCK TEASER blog img
// //-------------------------

img {
  max-width: none;
  width: 45%;
  position: absolute;
  top: auto;
  bottom: -1.8rem;
  left: 44%;
  transform: translateX(-44%);
  @include breakpoint (tablet){
bottom: -2.1rem;
width: 42%;
left: 42%;
  transform: translateX(-42%);
  }
  @include breakpoint (phone){
    bottom: -0.6rem;
    width: 55%;
    left: 48%;
    transform: translateX(-48%);
    max-width: 100%;
  }
}
