// //-------------------------
// //-------------------BLOCK TEASER product intro
// //-------------------------

.article-intro{
  font-family: $blackjack;
  font-size: 5rem;
  line-height: 0.6;
  margin-bottom: 2rem;
  padding-right: 4rem;
   display: block;

  @include breakpoint (tablet) {
    font-size: 4.7rem;
    line-height: 0.8;
    padding-right: 14%;
    margin-bottom: 2rem;
  }
  @include breakpoint (phone) {
    font-size: 5.4rem;
    line-height: 0.98;
    margin-bottom: 2rem;
  }
}
