// //-------------------------
// //-------------------BLOCK TEASER product btn
// //-------------------------

.c-btn {
  padding: 1.7rem;
  @include breakpoint (tablet) {
    font-size: 1.58rem;
  }
  @include breakpoint (phone) {
    font-size: 2.2rem;
  }
  &--wrapper {
    display: inline-block;
     width: 44%;

    @include breakpoint (tablet) {
       width: 54%;
    }
    @include breakpoint (phone) {
      
      width: 50%;
    }
  }
}
