// //-------------------------
// //-------------------BLOCK TEASER product image
// //-------------------------


picture {
  display: block;
  &:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.30) 0%, rgba(0,0,0,0) 100%); ///FF3.6-15
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.30) 0%,rgba(0,0,0,0) 100%); //Chrome10-25,Safari5.1-6
    background: linear-gradient(to left, rgba(0,0,0,0.30) 0%,rgba(0,0,0,0) 100%); //W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    @include breakpoint (tablet) {
      background: -moz-linear-gradient(left, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0) 106%); ///FF3.6-15
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 106%); //Chrome10-25,Safari5.1-6
      background: linear-gradient(to left, rgba(0,0,0,0.50) 0%,rgba(0,0,0,0) 106%); //W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    }
  }
  img {
    max-width: none;
    position: relative;
    width: 100%;
  }
}
