//-------------------------
//-------------  ARTICLE PAGES page LANDSCAPE  article intro
//-------------------------

.article-intro{
margin-top: 12.3rem;
  padding-inline-start: 10.7rem;
  padding-inline-end: 16rem;
}
