//-------------------------
//-------------  ARTICLE PAGES page RECIPES article intro
//-------------------------

.article-intro{
margin-top:calc(80% - 511px);//459 kad je jedna title 523 kad je u dve linije
// margin-top: 5.8rem;
  padding-inline-start: 10.7rem;
  padding-inline-end: 16rem;
  @include breakpoint (tablet) {

    padding-top: 0;
    padding-inline-start: 3rem;
    padding-inline-end: 9rem;
    clear: none;
    margin-top: -4rem;
  }
}
