//-------------------------
//-------------  ARTICLE PAGES page LANDSCAPE  H3 tag (subtitle)
//-------------------------

h3 {
  font-family: $cormorant;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
    font-size: 2.50rem;
  span {
  font-size: 4rem;
  }
}
