//-------------------------
//-------------  ARTICLE PAGES page RECIPES   H3 tag (subtitle)
//-------------------------

h3 {
  font-family: $cormorant;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
  font-size: 2.50rem;
  @include breakpoint (tablet) {
    font-size: 4.8rem;
  }
  span {
    font-size: 4rem;
    @include breakpoint (tablet) {
      font-size:7rem;
    }
  }
}
