//-------------------------
//-------------  ARTICLE PAGES page RECIPES  block author small
//-------------------------

.b-author {
  &--small {
    //float: none;
    padding-bottom: 16.222%;
    width: 21.6666%;
    margin-bottom: 0;

    @include breakpoint (tablet) {
      width: 36.33%;
      padding-bottom: 21.666%;
    }
    img {
      left:33%;
      transform: translateX(-33%);
      @include breakpoint (tablet) {
        width: 46%;
        left: 42%;
        transform: translateX(-42%);
      }
    }
    .article-content {
      left: -2.8rem;
      vertical-align: top;

      @include breakpoint (tablet) {

        left: -3.7rem;
        top: -1rem;
      }

      &-wrapper {
        padding: 4rem 0 1.3rem 0;
        vertical-align: top;

        @include breakpoint (tablet) {

          padding: 0;
        }
      }
    }
  }
}
