//-------------------------
//-------------------BLOCK DOSSIER block title
//-------------------------

.b-title {
  font-family: $cormorant;
  font-weight: bold;
  position: relative;
  text-transform: none;
  font-size: 2.6rem;
  letter-spacing: -0.06rem;
    padding-left: 4.2rem;
  top: -4rem;


  @include breakpoint (tablet) {
    font-size:2.3rem;
    top: -1rem;
  }

  @include breakpoint (phone) {
    font-size: 3.9rem;
     letter-spacing: -0.01rem;
     padding-left: 2.7rem;
     top: -0.4rem;
  }

}
